<html>
  <head>
    <style type="text/css">
      button {
        color: #fff;
        cursor: pointer;
        background: #6f5499;
        border: solid;
        border-radius: 6px;
        font-size: 6em;
        font-weight: normal;
        height: 58px;
        text-align: center;
        width: 100%;
        height: 100%;
      };
    </style>
  </head>
  <body>
    <form action="{{ url_for('open_door') }}" method="post">
      <center>
        <button type="submit">
        {% if request.args.get('opened') %}
                The door should be open
        {% else %}
                Open
        {% endif %}
        </button>
      </center>
    </form>
  </body>
</html>
